.page {
  flex: 1;
  padding: 3rem 1rem;

  display: flex;
  flex-direction: column;
}

.hero {
  min-height: calc(100vh - 160px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 32px;
  overflow: hidden;

  background-image: url("https://images.unsplash.com/photo-1488085061387-422e29b40080?q=80&w=1331&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

  background-size: cover;
  background-position: center;

  text-align: center;

  color: white;
  padding: 2rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.6;
}
